/* Colors
first color (navy blue): #155263
second color (red-orange): #ff6f3c
third color (orange): #ff9a3c
fourth color (yellow): #ffc93c
alt-font color (off-white): #FAF9F6
*/

/* Helper boxes for testing */
/* * {
    border: 1px solid red;
} */

/* Basic Properties */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #155263;
}

/* Header and Navigation Elements */
header {
    background-color: #ff6f3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

nav a {
    color: #155263;
    padding: 10px;
    font-size: 1.2rem;
}

nav a:visited {
    color: #155263;
}

nav a:hover {
    color: #FAF9F6;
}

nav p {
    display: inline;
    color: #155263;
    padding: 10px;
    font-size: 1.2rem;
}
/* End Header and Navbar */

/* Main Content Properties */
main {
    background-color: #ff9a3c60;
    padding: 15px;
    flex: 1 0 auto;
}

main a {
    color: #155263;
    font-weight: 900;
    text-decoration: none;
}

main a:hover {
    color: #FAF9F6;
    font-weight: 900;
    text-decoration: none;
}

/* Styling Tables */
table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
}

table thead tr {
    background-color: #155263;
    color: #ffc93c;
    text-align: left;
    font-size: 1.1rem;
}

table th, table td {
    padding: 5px 10px;
}

table td.date {
    padding: 5px 15px;
}

table tbody tr {
    border-bottom: 1px solid #155263;
}

table tbody tr:hover {
    background-color: #ff9a3c;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #155263;
}
/* End of Table Stying */

.table-img  {
    width: 15px;
    height: 15px;
}

.comment-container:first-of-type {
    border-top: 1px solid #155263;
    border-bottom: 1px solid #155263;
    display: grid;
    grid-template: 38px 1fr / 1fr;
}

.comment-container {
    border-bottom: 1px solid #155263;
    display: grid;
    grid-template: 38px 1fr / 1fr;
}

.comment-header {
    display: inline-flex;
    align-items: center;
}

.comment-header .comment-author {
    margin: 0;
    padding: 0px 10px 0 15px;
    font-size: 1.25rem;
    font-weight: 900;
    font-style: italic;
}

.comment-header .comment-date {
    margin: 0;
    font-size: 0.85rem;
}

.comment-body {
    padding: 0 15px;
}

.reply-comment {
    border-left: 1px solid #155263;
    border-bottom: 0;
}

.comment-container .link-add-reply {
    padding: 0 15px;
}


/* Footer Properties */
footer {
    background-color: #ffc93c90;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-site-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.footer-signoff  {
    text-align: right;
}
/* End Footer */
