<!-- _single_comment.html -->

{% comment %} break out top level comment and render individually {% endcomment %}
<div class="comment-container">
    <div class="comment-header">
        <p class="comment-author">{{ top_level_comment.comment.author }}</p>
        <p class="comment-date">{{ top_level_comment.comment.date }}</p>
    </div>
    <div class="comment-body">
        <p class="comment-text">{{ top_level_comment.comment.comment }}</p>
    </div>
    {% if user_membership_level != "View" %}
        {% if model == "ProjectComment" %}
            <p class="link-add-reply"><a href="{% url "create_project_comment_reply" top_level_comment.comment.project.id top_level_comment.comment.id %}">Reply</a></p>
        {% elif model == "TaskComment" %}
            <p class="link-add-reply"><a href="{% url "create_task_comment_reply" top_level_comment.comment.task.id top_level_comment.comment.id %}">Reply</a></p>
        {% endif %}
    {% endif %}

{% comment %} then loop through replies, with the reply-classes {% endcomment %}
{% for reply in reply_list %}
    <div class="reply-comment comment-container" style="margin: 0.5rem 0 0.5rem calc({{ reply.depth }} * 2rem);">
        <div class="comment-header">
            <p class="comment-author">{{ reply.comment.author }}</p>
            <p class="comment-date">{{ reply.comment.date }}</p>
        </div>
        <div class="comment-body">
            <p class="comment-text">{{ reply.comment.comment }}</p>
        </div>
        {% if user_membership_level != "View" %}
            {% if model == "ProjectComment" %}
                <p class="link-add-reply"><a href="{% url "create_project_comment_reply" top_level_comment.comment.project.id reply.comment.id %}">Reply</a></p>
            {% elif model == "TaskComment" %}
                <p class="link-add-reply"><a href="{% url "create_task_comment_reply" top_level_comment.comment.task.id reply.comment.id %}">Reply</a></p>
            {% endif %}
        {% endif %}
        {% for reply in comment.replies %}
            {% include "_single_comment.html" with comment=reply %}
        {% endfor %}
    </div>
{% endfor %}
</div>
