{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        {% block title %}
        {% endblock title %}
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <div class="nav-task-management">
                        <a href="{% url "browse_projects" %}">Browse projects</a>
                        <a href="{% url "user_list_projects" %}">My projects</a>
                        <a href="{% url "show_my_tasks" %}">My tasks</a>
                    </div>
                    <div class="nav-user-login">
                        <p>Logged in as {{ user.username }}</p>
                        <a href="{% url "logout" %}">Logout</a>
                    </div>
                {% else %}
                    <div class="nav-task-management">
                        <a href="{% url "home" %}">Home</a>
                    </div>
                    <div class="nav-user-login">
                        <a href="{% url "login" %}">Login</a>
                        <a href="{% url "signup" %}">Signup</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <div class="footer-site-info">
                <p class="footer-project">Hack Reactor — Project Alpha — Fall 2023</p>
                <p class="footer-signoff">Created by Brendan from DeFi</p>
            </div>
        </footer>
    </body>
</html>
