{% extends "base.html" %}

{% block title %}
    <title>Write a Reply</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Reply to {{ parent_comment.author }} regarding {{ task }}</h1>
            <form method="POST">
                {% csrf_token %}
                <p>Reply: {{ form.comment }}</p>
                <button>Reply</button>
            </form>
        </div>
    </main>
{% endblock content %}
