{% extends "base.html" %}
{% load static %}
{% load comment_tags %}

{% block title %}
    <title>{{ task }}</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            {% if not user_membership_level %}
                <div>
                    <p>You do not have access to this task because you are not a member of this project.</p>
                    <p><a href="">Click here to request access.</a></p>
                </div>
            {% elif user_membership_level %}
                <h1>
                    <a href="{% url "show_project" task.project.id %}">{{ task.project }}</a> — {{ task }}
                </h1>
                <h2>Task Summary</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Status</th>
                            {% if user_membership_level == "Owner" or user_membership_level == "Edit" %}
                                <th>Complete</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ task.assignee }}</td>
                            <td class="date">{{ task.start_date|date:"Y M j" }}</td>
                            <td class="date">{{ task.due_date|date:"Y M j, H:i" }}</td>
                            <td>
                                {% if task.is_completed or task.hours_until_due > 24 %}
                                    <img class="table-img green-light" src="{% static 'images/greenlight.png' %}" alt="status green">
                                {% elif task.hours_until_due < 0 %}
                                    <img class="table-img red-light" src="{% static 'images/redlight.png' %}" alt="status red">
                                {% elif task.hours_until_due < 24 %}
                                    <img class="table-img yellow-light" src="{% static 'images/yellowlight.png' %}" alt="status yellow">
                                {% endif %}
                            </td>
                            {% if user_membership_level == "Owner" or user_membership_level == "Edit" %}
                                <td>
                                    <a href="{% url "toggle_task_completion" task.id %}">
                                        {% if task.is_completed %}
                                            <img class="table-img img-reopen-task" src="{% static 'images/circle-with-check.png' %}" alt="reopen task">
                                        {% else %}
                                            <img class="table-img img-reopen-task" src="{% static 'images/empty-circle.png' %}" alt="reopen task">
                                        {% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                {% if task.is_completed == False %}
                    <p>Hours until due: {{ task.hours_until_due|floatformat }}</p>
                {% endif %}
                {% if user_membership_level == "Owner" or user_membership_level == "Edit" %}
                    <p>
                        <a href="{% url "update_task" task.id %}">Edit task</a>
                    </p>
                {% endif %}
                <h2>Comments</h2>
                {% if user_membership_level != "View" %}
                    <p>
                        <a href={% url "create_task_comment" task.id %}>Add comment</a>
                    </p>
                {% endif %}
                {% if task_comments.count == 0 %}
                    <p>No comments on this task yet</p>
                {% else %}
                    {% for comment in task_comments %}
                        {% comment_with_replies "TaskComment" comment.id user_membership_level %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </main>
{% endblock content %}
