{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>My tasks</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if my_tasks.count != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Project</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Status</th>
                            <th>Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in my_tasks %}
                            <tr>
                                <td>
                                    <a href="{% url "show_task_detail" task.id %}">{{ task.name }}</a>
                                </td>
                                <td>
                                    <a href="{% url "show_project" task.project.id %}">{{ task.project }}</a>
                                </td>
                                <td class="date">{{ task.start_date|date:"Y M j" }}</td>
                                <td class="date">{{ task.due_date|date:"Y M j, H:i" }}</td>
                                {% comment %} <td>{{ task.is_completed|yesno|capfirst }}</td> {% endcomment %}
                                <td>
                                    {% if task.is_completed or task.hours_until_due > 24 %}
                                        <img class="table-img green-light" src="{% static 'images/greenlight.png' %}" alt="status green">
                                    {% elif task.hours_until_due < 0 %}
                                        <img class="table-img red-light" src="{% static 'images/redlight.png' %}" alt="status red">
                                    {% elif task.hours_until_due < 24 %}
                                        <img class="table-img yellow-light" src="{% static 'images/yellowlight.png' %}" alt="status yellow">
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url "toggle_task_completion" task.id %}">
                                        {% if task.is_completed %}
                                            <img class="table-img img-reopen-task" src="{% static 'images/circle-with-check.png' %}" alt="reopen task">
                                        {% else %}
                                            <img class="table-img img-reopen-task" src="{% static 'images/empty-circle.png' %}" alt="reopen task">
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
