{% extends "base.html" %}
{% block title %}
    <title>Approve Project Membership Request</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Approve Access to {{ project }}</h1>
            <p>Requester: {{ membership_request.requester }}</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Approve</button>
            </form>
        </div>
    </main>
{% endblock content %}
