{% extends "base.html" %}

{% block title %}
    <title>Projects List</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url "create_project" %}">Create a new project</a>
            </p>
            {% if project_list.count == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Number of Members</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.owner }}</td>
                                <td>{{ project.members.count|add:"1" }}</td>
                                <td>{{ project.tasks.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
