{% extends "base.html" %}

{% block title %}
    <title>Write a Comment</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Write a Comment on {{ project }}</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Post</button>
            </form>
        </div>
    </main>
{% endblock content %}
