{% extends "base.html" %}
{% block title %}
    <title>Manage Project Membership</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Manage Access to <a href="{% url "show_project" project.id %}">{{ project }}</a></h1>
            <div>
                <h2>Add a new teammate</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ new_member_form }}
                    <button>Grant Access</button>
                </form>
            </div>
            <div>
                <h2>Current Members</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Membership Level</th>
                            <th>Updated Date</th>
                            <th>Edit Membership</th>
                            <th>Remove Membership</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in project_members  %}
                            <tr>
                                <td>{{ member.member }}</td>
                                <td>{{ member.membership_level }}</td>
                                <td>{{ member.updated_at|date:"Y M j" }}</td>
                                <td>
                                    <a href="{% url "update_project_membership" project.id member.id %}">Update</a>
                                </td>
                                <td>
                                    <a href="{% url "remove_project_membership" project.id member.id %}">x</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% comment %} <form method="POST">
                            {% csrf_token %}
                            {% for form in form_list %}
                                <tr>
                                    <td>{{ form.member }}</td>
                                    <td>{{ form.membership_level }}</td>
                                    <td>{{ member.updated_at|date:"Y M j"}}</td>
                                    <td>
                                        <a href="">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url "remove_project_membership" project.id %}">x</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <button>Update</button>
                                </td>
                            </tr>
                        </form> {% endcomment %}
                    </tbody>
                </table>
            </div>
            <div>
                <h2>New Membership Requests</h2>
                {% if project_membership_requests.count == 0 %}
                    <p>No outstanding membership requests.</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Requested Membership Level</th>
                                <th>Requested Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for request in project_membership_requests %}
                                <tr>
                                    <td>{{ request.requester }}</td>
                                    <td>{{ request.request_level }}</td>
                                    <td>{{ request.requested_at|date:"Y M j"}}</td>
                                    <td>
                                        <a href="{% url "approve_membership_request" project.id request.id %}">Approve</a>
                                    </td>
                                    <td>
                                        <a href="{% url "deny_membership_request" project.id request.id %}">Deny</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
