{% extends "base.html" %}
{% block title %}
    <title>Project Membership Request</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Request Access to {{ project }}</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Request Access</button>
            </form>
        </div>
    </main>
{% endblock content %}
