{% extends "base.html" %}
{% load static %}
{% load comment_tags %}

{% block title %}
    <title>{{ project }}</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project }}</h1>
            <p>Project Owner: {{ project.owner }}</p>
            <p>Project Description: {{ project.description }}</p>
            <p>Project Membership Level: {{ user_membership_level }}</p>
            {% if user_membership_level == "Owner" %}
                <p>
                    <a href="{% url "manage_project_membership" project.id %}">Manage Project Membership</a>
                </p>
            {% endif %}
            {% if not user_membership_level %}
                <div>
                    <p>You are not a member of this project.</p>
                    <p><a href="{% url "request_project_membership" project.id %}">Click here to request access.</a></p>
                </div>
            {% elif user_membership_level %}
                <h2>Tasks</h2>
                {% if user_membership_level == "Owner" or user_membership_level == "Edit" %}
                    <p>
                        <a href="{% url "create_task" %}">Create a new task</a>
                    </p>
                {% endif %}
                {% if tasks.count == 0 %}
                    <p>This project has no tasks</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Status</th>
                                {% if user_membership_level == "Owner" or user_membership_level == "Edit" %}
                                    <th>Complete</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>
                                        <a href="{% url "show_task_detail" task.id %}">{{ task.name }}</a>
                                    </td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>
                                        {% if task.is_completed or task.hours_until_due > 24 %}
                                            <img class="table-img green-light" src="{% static 'images/greenlight.png' %}" alt="status green">
                                        {% elif task.hours_until_due < 0 %}
                                            <img class="table-img red-light" src="{% static 'images/redlight.png' %}" alt="status red">
                                        {% elif task.hours_until_due < 24 %}
                                            <img class="table-img yellow-light" src="{% static 'images/yellowlight.png' %}" alt="status yellow">
                                        {% endif %}
                                    </td>
                                    {% if user_membership_level == "Owner" or user_membership_level == "Edit" %}
                                        <td>
                                            <a href="{% url "toggle_task_completion" task.id %}">
                                                {% if task.is_completed %}
                                                    <img class="table-img img-reopen-task" src="{% static 'images/circle-with-check.png' %}" alt="reopen task">
                                                {% else %}
                                                    <img class="table-img img-reopen-task" src="{% static 'images/empty-circle.png' %}" alt="reopen task">
                                                {% endif %}
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <h2>Comments</h2>
                {% if user_membership_level != "View" %}
                    <p>
                        <a href={% url "create_project_comment" project.id %}>Add comment</a>
                    </p>
                {% endif %}
                {% if project_comments.count == 0 %}
                    <p>This project has no comments</p>
                {% else %}
                    {% for comment in project_comments %}
                        {% comment_with_replies "ProjectComment" comment.id user_membership_level %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </main>
{% endblock content %}
