{% extends "base.html" %}

{% block title %}
    <title>Update Project Membership</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Update Project Membership</h1>
            {% comment %} <p>Member: {{ membership.member }}</p> {% endcomment %}
            <form method="POST">
                {% csrf_token %}
                {% comment %} <p>Membership Level: {{ form.membership_level }}</p> {% endcomment %}
                {{ form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
