{% extends "base.html" %}

{% block title %}
    <title>Projects List</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url "create_project" %}">Create a new project</a>
            </p>
            {% if owned_project_list.count == 0 %}
                <p>You don't own any projects.</p>
            {% else %}
                <h2>Projects You Own</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Project Members</th>
                            <th>Project Oustanding Tasks</th>
                            <th>Your Outstanding Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in owned_project_list %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.members.count|add:"1" }}</td>
                                <td>{{ project.project_task_count }}</td>
                                <td>{{ project.user_task_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if memberships_list.count == 0 %}
                <p>You aren't a member of any projects.</p>
                <p>
                    <a href="{% url "browse_projects" %}">Browse all projects</a>
                </p>
            {% else %}
                <h2>Project Memberships</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Project Members</th>
                            <th>Project Outstanding Tasks</th>
                            <th>Your Access Level</th>
                            <th>Your Outstanding Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for membership in memberships_list %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" membership.project.id %}">{{ membership.project.name }}</a>
                                </td>
                                <td>{{ membership.project.members.count|add:"1" }}</td>
                                <td>{{ membership.project_task_count }}</td>
                                <td>{{ membership.membership_level }}</td>
                                <td>{{ membership.user_task_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
